/* Using Direct Child Selector (>)
This method applies styles only to the direct children of a parent element. */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.border {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    
}

.display {
    flex: 1;
    text-align: end;
    font-size: 20px;
    padding: 3px;
    min-height: 30px;
}

button {
    border-radius: 100%;
    min-width: 50px;
    min-height: 50px;
    font-size: 20px;
}

tr {
    text-align: center;
}



/* margin things */
body, .border, .display, .buttons {
    border: 2px solid black  ;
}
.buttons {
    padding: 5px;
    
}